# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ControllerVibration.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Cameron\RiderProjects\ControllerVibration\.idea\.idea.ControllerVibration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
